<% @words.each do |word| %>

  <div class="card" id="<%= word.id %>">
    <h3> <%= word.in_english %> </h3>
    <h3 id="tr<%= word.id %>"> <%= word.in_polish %> </h3>
  </div>



  <script type="text/javascript">
    //$(document).ready(function() {

      $("#tr<%= word.id %>").hide(); //Initially form wil be hidden.

      $("#<%= word.id %>").bind('click',function() {
        $('#tr<%= word.id %>').show();//Form shows on button click
        $('#<%= word.id %>').css({"background-color": "#E3E3E3"});
      });
    //});
  </script>
  
<% end %>
